.page-container {
  text-align: center;
  padding: 40px;
  position: relative;
}

.recipe-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}


.recipe-item {
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  width: 100%;
  background-color: white;
}

.recipe-item:hover {
  transform: translateY(-5px);
}

.recipe-link {
  text-decoration: none;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-thumbnail {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.recipe-name {
  margin-top: 10px;
}

  
.back-link {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: #edf6ff;
  font-size: 18px;
  position: absolute;
  top: 0;
  right: 20px;
}


.back-link:hover {
  text-decoration: underline;
}

h1 {
  margin-bottom: 20px;
  padding: 20px;
}




