 .page-container {
   text-align: center;
   padding: 40px;
   background: rgb(238,174,202);
   background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
 }


 .category-list {
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 20px;
 }

 .category-item {
   width: 200px;
   padding: 10px;
   border: 2px solid #ddd;
   border-radius: 5px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   transition: transform 0.2s ease-in-out;
 }


 .category-link {
   display: block;
   background-color: #f1f1f1;
   border: 1px solid #ddd;
   padding: 10px;
   border-radius: 5px;
   text-decoration: none;
   color: #333;
   transition: background-color 0.2s ease-in-out;
 }

 .category-link:hover {
   background-color: #ab46ca;
   color:white;
 }

 .title { color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;}